Repository pennlabs/penn-courses, pull requests merged in 2019-10, with the labels that each got.

#34 Course Filters
  plan/filters.py
  plan/serializers.py
  plan/tests.py
  plan/views.py
Labels: Penn Course Plan, backend

#35 Filter Logic
  frontend/plan/package-lock.json
  frontend/plan/package.json
  frontend/plan/src/actions/index.js
  frontend/plan/src/components/DropdownButton.js
  frontend/plan/src/components/search/RangeFilter.js
  frontend/plan/src/components/search/SchoolReq.js
  frontend/plan/src/components/search/Search.css
  frontend/plan/src/components/search/SearchBar.js
  frontend/plan/src/components/search/SearchField.js
  frontend/plan/src/reducers/filters.js
  frontend/plan/src/reducers/index.js
  frontend/plan/src/reducers/sections.js
  plan/filters.py
  plan/tests.py
Labels: do not merge, frontend

#73 This PR Will Actually Launch PCP
  .circleci/config.yml
  PennCourses/urls/pcp-construction.py
Labels: do not merge
