Repository pennlabs/penn-courses, pull requests merged in 2019-05, with the labels that each got.

#7 Add command to load in courses
  README.md
  courses/management/commands/loadcourses.py
Labels: backend

#6 Connecting Frontend to Backend API
  PennCourses/settings/dev.py
  PennCourses/urls/base.py
  PennCourses/urls/pcp.py
  courses/serializers.py
  courses/views.py
  frontend/plan/src/actions/index.js
  frontend/plan/src/components/Badge.js
  frontend/plan/src/components/schedule/Block.js
  frontend/plan/src/components/schedule/Schedule.js
  frontend/plan/src/components/search/bar.js
  frontend/plan/src/components/search/search_result.js
  frontend/plan/src/components/search/search_results.js
  frontend/plan/src/components/selector/SectionDisplay.js
  frontend/plan/src/components/selector/SectionList.js
  frontend/plan/src/components/selector/Sections.js
  frontend/plan/src/meetUtil.js
  frontend/plan/src/reducers/schedule.js
  frontend/plan/src/reducers/sections.js
Labels: Penn Course Plan

#11 Upgrading React-Scripts
  frontend/plan/.eslintrc.json
  frontend/plan/package-lock.json
  frontend/plan/package.json
Labels: Penn Course Plan, frontend

#10 Added search as you type functionality
  frontend/plan/src/components/search/bar.js
Labels: Penn Course Plan, frontend

#9 Refactor and filtering by requirement
  PennCourses/urls/pcp.py
  courses/admin.py
  courses/serializers.py
  courses/tests.py
  courses/urls.py
  courses/views.py
  frontend/plan/src/actions/index.js
  plan/search.py
  plan/tests.py
  plan/urls.py
  plan/views.py
Labels: Penn Course Plan, backend

#15 Penn Course Review data model and api additions
  .gitignore
  PennCourses/settings/base.py
  PennCourses/tests.py
  Pipfile.lock
  courses/migrations/0017_auto_20190525_2235.py
  courses/migrations/0018_merge_20190526_1901.py
  courses/models.py
  courses/serializers.py
  frontend/plan/src/components/Badge.js
  frontend/plan/src/components/search/search_result.js
  frontend/plan/src/components/selector/SectionDisplay.js
  plan/annotations.py
  plan/models.py
  plan/serializers.py
  plan/tests.py
  plan/urls.py
  plan/views.py
  review/import_reviews.py
  review/migrations/0001_initial.py
  review/migrations/0002_auto_20190525_2010.py
  review/migrations/0003_auto_20190525_2040.py
  review/models.py
  review/serializers.py
  review/tests.py
Labels: backend
