Repository pennlabs/penn-courses, pull requests merged in 2025-03, with the labels that each got.

#699 pcp showing cart by default instead of map tab on first load
  frontend/plan/pages/index.tsx
Labels: Penn Course Plan, frontend

#711 Fix: Friends’ Schedules Not Displaying Due to Map Feature in PCP
  backend/plan/views.py
  frontend/plan/actions/friendshipUtil.js
  frontend/plan/components/map/MapRadio.tsx
  frontend/plan/components/map/MapTab.tsx
  frontend/plan/components/schedule/Schedule.tsx
  frontend/plan/components/schedule/ScheduleDisplay.tsx
  frontend/plan/components/schedule/ScheduleSelectorDropdown.tsx
  frontend/plan/reducers/friendships.js
  frontend/shared-components/src/accounts/LoginButton.tsx
  frontend/shared-components/src/accounts/UserSelector.js
Labels: bug, Penn Course Plan, frontend

#713 profile dropdown fix
  frontend/shared-components/src/accounts/UserSelector.js
Labels: bug, Penn Course Plan, frontend

#708 Update icsimport.py
  backend/review/management/commands/iscimport.py
Labels: bug
